/**
 * base
 */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: var( --font-family );
	font-size: var( --font-size );
	line-height: var( --line-height );
	margin: 0;
	padding: 0;
}

a {
	color: var( --link-color );
	text-decoration: none;
}

a:hover {
	color: var( --link-color-hover );
	text-decoration: underline;
}
