/**
 * form
 */

select, input, textarea {
	font-size: 100%;
	padding: 7px;
	width: 100%;
}

textarea {
	font-size: 115%;
}

[type="checkbox"], [type="radio"] {
	width: 15px;
	height: 15px;
	margin-right: 15px;
}
