/**
 * grid
 */
.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: var( --container-width );
}

.row {
	display: flex; 
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}   

.row .col, .row [class^='col-'] {
	margin: 0 0 10px 0;
	padding: 5px;
}

.nogutter .col, .nogutter [class^='col-'] {
	margin: 0;
	padding: 0;
}

.col {
	flex: 1;
}

.col-1 {
	width: calc( ( 100% / 12 ) * 1 );
}

.col-2 {
	width: calc( ( 100% / 12 ) * 2 );
}

.col-3 {
	width: calc( ( 100% / 12 ) * 3 );
}

.col-4 {
	width: calc( ( 100% / 12 ) * 4 );
}

.col-5 {
	width: calc( ( 100% / 12 ) * 5 );
}

.col-6 {
	width: calc( ( 100% / 12 ) * 6 );
}

.col-7 {
	width: calc( ( 100% / 12 ) * 7 );
}

.col-8 {
	width: calc( ( 100% / 12 ) * 8 );
}

.col-9 {
	width: calc( ( 100% / 12 ) * 9 );
}

.col-10 {
	width: calc( ( 100% / 12 ) * 10 );
}

.col-11 {
	width: calc( ( 100% / 12 ) * 11 );
}

.col-12 {
	width: 100%;
}

@media screen and ( max-width: 599px ) {
	.col, [class^='col-'] {
		flex: 0 1 100%;
		max-width: 100%;
	}
}
