/**
 * grid
 */

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1200px;
}

.row {
	display: flex; 
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}   

.col {
	flex: 1;
}
